#intro {
    height: 100%;
}

#intro {
    background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.author {
    justify-content: center;
}

.color-unad-ecbti {
    background-color: #005883 !important;
}

.color-unad-ecsah {
    background-color: #F0B429 !important;
}

.color-unad-ecacen {
    background-color: #F47920 !important;
}

.color-unad-ecapma {
    background-color: #50b748 !important;
}

.color-unad-ecedu {
    background-color: #a54686 !important;
}

.color-unad-ecisa {
    background-color: #43c7f4 !important;
}

#header-logo {
    margin-bottom: -35px !important;
    padding-top: 5px;
}